In [1]:
'I am doing Python'

'I am doing Python'

In [2]:
"I am doing Python"

'I am doing Python'

In [3]:
'''I am doing Python'''

'I am doing Python'

In [5]:
print('I am doing Python')

I am doing Python

In [6]:
print("I am doing Python")

I am doing Python

In [7]:
print('''I am doing Python''')

I am doing Python

In [1]:
'I write here on Python interpreter'

'I write here on Python interpreter'

In [9]:
'''I write here on
Python Interpreter'''

'I write here on\nPython Interpreter'

In [11]:
print ('''I write here on
Python Interpreter''')

I write here on
Python Interpreter

In [12]:
print("""I write here on
Python Interpreter""")

I write here on
Python Interpreter

In [13]:
a=100
print(a)

100

In [14]:
a,b,c=2,3,5
a

2

# Formated Output

In [15]:
x,y=2,3
print('{0} and {1}'.format(x,y))

2 and 3

In [16]:
print('{1} and {0}'.format(x,y))

3 and 2

In [17]:
from math import pi,e
print('{:.3f}'.format(pi))

3.142

In [18]:
print('{0:.4f},{1:.5f}'.format(pi,e))

3.1416,2.71828

In [20]:
x,y,z=35.8679,12.6354,123.7823
print('{0:.2f},{1:.2f},{2:0.2f}'.format(x,y,z))

35.87,12.64,123.78

In [21]:
print('{2:.0f},{1:.2f},{0:0.1f}'.format(x,y,z))

124,12.64,35.9

# Expressing a percentage

In [22]:
a=0.0158976
'Approx value = {:.2%}'.format(a)

'Approx value = 1.59%'

In [23]:
a=0.0158176
'Approx value = {:.2%}'.format(a)

'Approx value = 1.58%'

# Exponential format

In [24]:
a=805682.47
'{:.4E}'.format(a)

'8.0568E+05'

In [25]:
'{:.2E}'.format(a)

'8.06E+05'

# Types of variables and entities

In [29]:
type(89) #Integer number

int

In [27]:
type(15.67) # Floating number

float

In [28]:
type(3+5j) # Complex number

complex

In [30]:
x=15.67
type(x)

float

In [31]:
x=2*10+5.0+3j
type(x)

complex

In [33]:
type(2**80) # ** means exponent

int

In [34]:
2**80

1208925819614629174706176

In [36]:
type('Ananda')

str

# Boolean objects

In [37]:
type(True)

bool

In [38]:
type(False)

bool

# Python as a calculator

In [39]:
58/2

29.0

In [40]:
13.5//2 #it will only give integer part

6.0

In [41]:
12*9

108

In [42]:
(52*5-6.1)/4

63.475

In [43]:
13%5 # % or mod means it will only give remainder

3

# Complex Number

In [44]:
3+9j

(3+9j)

In [45]:
a=3
b=2.4j
a+b

(3+2.4j)

In [46]:
3+9j*2

(3+18j)

In [47]:
(3+2j)*(4+5j)

(2+23j)

# Built in function

In [48]:
float(23)

23.0

In [49]:
int(623.58)

623

In [50]:
int(23.86)

23

In [51]:
int(abs(-23.86))

23

In [52]:
complex(2)

(2+0j)

In [55]:
abs(-26.5)

26.5

In [56]:
round(13.1)#for  rounding off

13

In [57]:
round(23.9)

24

In [58]:
round(23.9237,2)#rounding off,2 decimal digits

23.92

In [59]:
round(23.9237,3)#rounding off,3 decimal digits

23.924

In [60]:
5E2 #Exponentiation

500.0

In [62]:
5e2*2.0e-4 #xey or xEy= x*10^y

0.1

In [63]:
a,b=3,4
c=complex(a,b)
c

(3+4j)

In [64]:
abs(c)

5.0

In [65]:
5/2

2.5

In [66]:
min(0,-2,1,10)

-2

In [67]:
max(0,-2,1,10)

10

In [68]:
a,b,c=2,3,5
x=b**2-4*a*c
print('x = ',x)

x =  -31

In [72]:
v0,g,t=10,9.81,0.1
h=v0*t-0.5*g*t**2
print(round(h,2))

0.95

In [73]:
import math
math.sqrt(100)

10.0

In [74]:
math.pow(2,4)

16.0

In [75]:
math.cos(2)

-0.4161468365471424

In [76]:
math.exp(-2)

0.1353352832366127

In [77]:
math.e

2.718281828459045

In [78]:
math.pi

3.141592653589793

In [79]:
math.cos(math.pi/4)

0.7071067811865476

In [80]:
import math as m
m.sin(2)
m.pi

3.141592653589793

In [81]:
from math import sin,pi
sin(pi/4)

0.7071067811865476

In [82]:
from math import *
sin(pi/4)

0.7071067811865476

In [83]:
import cmath
cmath.sqrt(-1)

1j

In [84]:
cmath.exp(2+3j)

(-7.315110094901103+1.0427436562359045j)

# Area of a Circle

In [85]:
import math
r=5
area=math.pi*r**2
print('Area = ',area)

Area =  78.53981633974483

In [86]:
import time
time.time()

1584722393.8400254

In [87]:
time.time()

1584722415.0603397

In [89]:
time.localtime(time.time()) #For local time and Date(in hours,min,sec etc)

time.struct_time(tm_year=2020, tm_mon=3, tm_mday=20, tm_hour=22, tm_min=18, tm_sec=30, tm_wday=4, tm_yday=80, tm_isdst=0)

# LIST

In [3]:
A=[3,2.5,4.0,-1,5,0] #List of numbers
type(A)

list

In [5]:
B=['Sand','Salim','Alex','Mita'] #List of names
C=['Good',10,'Bad',50] #Mixed List
print(A)
print(B)
print(A,B)

[3, 2.5, 4.0, -1, 5, 0]
['Sand', 'Salim', 'Alex', 'Mita']
[3, 2.5, 4.0, -1, 5, 0] ['Sand', 'Salim', 'Alex', 'Mita']

In [6]:
list(A)

[3, 2.5, 4.0, -1, 5, 0]

In [7]:
print(A)

[3, 2.5, 4.0, -1, 5, 0]

In [8]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [9]:
len(A)#Length = Total number of items

6

In [10]:
len(B)

4

In [11]:
len(C)

4

In [12]:
sum(A) # Sum of number in a list A

13.5

# ITEM POSITION

In [13]:
A[0]

3

In [14]:
A[2]

4.0

In [15]:
A[-3]

-1

In [16]:
B[2]

'Alex'

In [17]:
B[-1]

'Mita'

# Python programming using List

# Mean of numbers

In [18]:
A=[3,2.5,4.0,-1,5,0]
mean=sum(A)/len(A)
print(mean)

2.25

# Slicing of a List

In [19]:
A=[3,2.5,4.0,-1,5,0]
A[1:4] # 1--> (1 step before no. 4)

[2.5, 4.0, -1]

In [20]:
A[:4] # From beginning to no. 3

[3, 2.5, 4.0, -1]

# Location of an Element

In [21]:
A=[3,2.5,4.0,-1,5,0]
A.index(2.5) #Location of the number '2.5'

1

In [22]:
B=['Sand','Salim','Alex','Mita']
B.index('Mita') #Location of Mita

3

# Maximum,minimum,location

In [23]:
max(A) #Element with maximum value

5

In [24]:
min(A) #Element with minimum value

-1

In [25]:
A.index(max(A)) #Location of the maximum

4

# Altering a list

In [28]:
A=[3,2.5,4.0,-1,5,0]
A.reverse() #Reverse List
A

[0, 5, -1, 4.0, 2.5, 3]

In [31]:
A.reverse() # Again we are using reverse get original list
A

[0, 5, -1, 4.0, 2.5, 3]

# Sorting

In [32]:
A=[3,2.5,4.0,-1,5,0]
A.sort() # Ascending order
A

[-1, 0, 2.5, 3, 4.0, 5]

In [34]:
A.sort(reverse=True)#Descending order
A

[5, 4.0, 3, 2.5, 0, -1]

In [35]:
sorted(A) #Ascending order

[-1, 0, 2.5, 3, 4.0, 5]

In [36]:
sorted(A, reverse = True) #Descending order
A

[5, 4.0, 3, 2.5, 0, -1]

In [37]:
A

[5, 4.0, 3, 2.5, 0, -1]

# Sorting of a list of a strings

In [38]:
B=['Sand','Salim','Alex','Mita']
sorted(B)# Ascending, alphabetically

['Alex', 'Mita', 'Salim', 'Sand']

In [39]:
C=['Good',10,'Bad',50]
sorted(C)

TypeError: '<' not supported between instances of 'int' and 'str'

In [40]:
D=['236','-105','925','1100']
sorted(D)

['-105', '1100', '236', '925']

# Adding and removing items

In [41]:
A=[3,2.5,4.0,-1,5,0]
A.append(10) #Adding '10' at the end
A   #New list after appending

[3, 2.5, 4.0, -1, 5, 0, 10]

In [42]:
B=['Sand','Salim','Alex','Mita']
B.append('Sima')
B

['Sand', 'Salim', 'Alex', 'Mita', 'Sima']

In [43]:
x=[1,2,3,4,5]
x.pop(3) #Remove (pop out) item from position 3

4

In [44]:
x #List after the item removed

[1, 2, 3, 5]

In [45]:
x=[1,2,3,4,5]
x.pop() #<----'5' popped out

5

In [46]:
x.pop() #<---- Next,'4' popped out

4

In [47]:
x # The list now

[1, 2, 3]

In [49]:
x=[1,2,3,4,5]
x.remove(5) #Item '5' removed
x

[1, 2, 3, 4]

In [54]:
y=['a','b','c','d']
y.remove('b')# Item 'b' removed
y

['a', 'c', 'd']

# Delete a Segment

In [55]:
x=[1,2,3,4,5]
del x[1:4] #Deleting item no. 1 to 3
x

[1, 5]

# To insert item at a given position

In [56]:
x=[1,2,3,4,5]
x.insert(2,0) #Inserting '0'at position 2
x

[1, 2, 0, 3, 4, 5]

In [57]:
y=['a','b','c','d']
y.insert(1, 'xx') #Inserting ''xx' at position 1
y

['a', 'xx', 'b', 'c', 'd']

# Searching the List

In [58]:
#To find the Duplicate items
L=[1,2,3,1,5,5,6,7,8,2]
set(L)

{1, 2, 3, 5, 6, 7, 8}

In [59]:
x=['a','a','b','b','c','b']
set(x)

{'a', 'b', 'c'}

In [60]:
L=[1,2,3,1,5,5,6,7,8,2]
list(set(L))

[1, 2, 3, 5, 6, 7, 8]

# List Comprehension

In [61]:
A=[3,2.5,4.0,1,5,0]
A*2 #Multiplying a list

[3, 2.5, 4.0, 1, 5, 0, 3, 2.5, 4.0, 1, 5, 0]

In [62]:
#Concatination
A=[3,2.5,4.0,1,5,0]
B=['Sand','Salim','Alex','Mita']
A+B #Joining of two list

[3, 2.5, 4.0, 1, 5, 0, 'Sand', 'Salim', 'Alex', 'Mita']

In [63]:
#Algebra with list
x=[1,2,3,4]
y=['a','b']
2*x+3*y

[1, 2, 3, 4, 1, 2, 3, 4, 'a', 'b', 'a', 'b', 'a', 'b']

In [65]:
a=[1,2,3,4,5]
b=[i**2 for i in a] #loop in list
#'for i in a' means all elements in list 'a',one by one,from first to last
b

[1, 4, 9, 16, 25]

In [67]:
# Preparing data: sin(theta) vs. theta
from math import pi, sin
t=[0, 0.5*pi, pi, 1.5*pi, 2*pi]
s= [sin(n) for n in t]
s
#In the above,we did import 'pi'(value of pi) and 'sin' (sine function) from the mathematical module, 'math'

[0.0, 1.0, 1.2246467991473532e-16, -1.0, -2.4492935982947064e-16]

In [68]:
#List of pairs of numbers from two lists
x=[1,2,3]
y=[4,5,6]
[(i,j)for i in x for j in y]

[(1, 4), (1, 5), (1, 6), (2, 4), (2, 5), (2, 6), (3, 4), (3, 5), (3, 6)]

In [69]:
zip(x,y) #pairs of corresponding items

# Nested List

In [70]:
M=[[1,2,3],[4,5,6]]
M[0]

[1, 2, 3]

In [71]:
M[1]

[4, 5, 6]

In [72]:
M[0][1] #Element no. 1 in M[0]

2

In [73]:
M[1][2] #Element no. 2 in M[1]

6

In [74]:
len(M)# 2 elements, each one is a list

2

In [75]:
len(M[0])

3

In [76]:
len(M[1])

3

# Range

In [82]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [83]:
for i in range(2,10,2):
    print(i)

2
4
6
8

In [84]:
for i in range(10,2,-2):
    print(i)

10
8
6
4

In [85]:
for i in range(-10,-1):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2

In [87]:
for i in range(-10,-1,2):
    print(i)

-10
-8
-6
-4
-2

In [88]:
for i in range(2*3):
    print(i)

0
1
2
3
4
5

In [91]:
for i in range(10,1):
    print(i) #imposibility return  Empty List

In [92]:
#list comprehensive with range
[n**3 for n in range(10)]

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

# String

In [95]:
a='12345'
len(a) #Length of string

5

In [96]:
a[2] # NO. 3 Character

'3'

In [97]:
a*3 #String repeated 3 times

'123451234512345'

In [98]:
#Slicing
a[1:5] # Character from NO. 1 to 5

'2345'

In [100]:
#Searching
ss='921k2jsW01'
ss.find('W')

7

In [101]:
#Testing if the string consists of only digits
s='71983787a845740'
s.isdigit()

False

In [102]:
#Concatination
x='123456'
y='Python'
x+y

'123456Python'

In [103]:
#Character inserted between
x + ' '+ y # A space inserted

'123456 Python'

In [104]:
a='You'
b='are'
c='so'
d='beautiful.'
a + ' ' + b + ' ' + c + ' ' +d

'You are so beautiful.'

In [105]:
#Evaluating a string of digits
a='123456' #string
eval(a)#Evaluating a number string

123456

In [106]:
x='234.562'
eval(x)

234.562

In [107]:
#String of integers
a='123456'
int(a)

123456

In [108]:
#Concatination & Evaluation do not commute.
a='123'
b='456'
eval(a+b)

123456

In [109]:
eval(a)+eval(b)

579

# Conversion of a string of letters

In [110]:
#All Capital(Upper case letters)
s='my name is siraj molla'
s.upper()

'MY NAME IS SIRAJ MOLLA'

In [111]:
#First letter of each word Capital
s='my name is siraj molla' #Capital: 1st ch of each word
s.title()

'My Name Is Siraj Molla'

In [112]:
#All lower case
t='I AM THE BOSS'
t.lower() # Returns with all lower case

'i am the boss'

In [113]:
#Replacing characters
t='I AM THE BOSS'
t.replace('I AM', 'YOU ARE')#Replacing character

'YOU ARE THE BOSS'

In [114]:
#Converts the first character of the first word
s='my work'
s.capitalize() #First character into upper case

'My work'

# Conversion String to List

In [115]:
a='123456' #String of Numbers
b=list(a) #List of Character
b

['1', '2', '3', '4', '5', '6']

In [116]:
c=[int(k) for k in b]
c

[1, 2, 3, 4, 5, 6]

In [117]:
#List to String
a=['P','y','t','h','o','n','2.7']
b=''.join(a)
b

'Python2.7'

In [118]:
b='-'.join(a)
b

'P-y-t-h-o-n-2.7'

In [119]:
x=[1,2,3,4]

In [120]:
[str(k)for k in x]

['1', '2', '3', '4']

In [121]:
y=''.join(str(k) for k in x)
y  #note:  ''.join(list) joins individual string

'1234'

# Tuples

In [122]:
"""Tuples are sequences just like lists,but they are immutable, i.e,they cannot be changed.Tuples are usually a collection
of items,separated by comma(this is must),put between parentheses().[Of course,without parentheses too,item separated by comma.]"""

'Tuples are sequences just like lists,but they are immutable, i.e,they cannot be changed.Tuples are usually a collection\nof items,separated by comma(this is must),put between parentheses().[Of course,without parentheses too,item separated by comma.]'

In [123]:
t=(2,3,6,10,-9)
len(t)#Total number of elements

5

In [125]:
t[4] #Element No. 4

-9

In [126]:
6 in t # To search an element

True

In [127]:
max(t) # maximum

10

In [128]:
min(t) #Minimum

-9

In [129]:
#Concatenation
t1=(1,2,3)
t2=(4,5,6)
t1+t2

(1, 2, 3, 4, 5, 6)

In [130]:
#Multiplication
t1*2 #Repetition

(1, 2, 3, 1, 2, 3)

In [132]:
#From List to Tuple
x=[1,2,3,4,5]
tuple(x)

(1, 2, 3, 4, 5)

In [133]:
#From Tuple to List
y=(1,2,3,4,5)
list(y)

[1, 2, 3, 4, 5]

# Set

In [134]:
"""Set is an unordered collection of unique elements from a list or a string.We can make 
a set of items with no duplicate elements within curly braces: { }.The primary objective to have a set is to
eleminate duplicate entries.Set objects also perform mathematical operations like tuple,string and list"""

'Set is an unordered collection of unique elements from a list or a string.We can make \na set of items with no duplicate elements within curly braces: { }.The primary objective to have a set is to\neleminate duplicate entries.Set objects also perform mathematical operations like tuple,string and list'

In [135]:
s={1,2,6,9} #Defining a Set
s

{1, 2, 6, 9}

In [136]:
len(s)

4

In [137]:
#Testing if an element exists in the set
5 in s

False

In [138]:
6 in s

True

In [139]:
#From list to set
list(s) #Converted to List

[1, 2, 6, 9]

In [140]:
#From tuple to set
t=(1,2,2,3,1,4)# A tuple
set(t)#Converted to set

{1, 2, 3, 4}

In [141]:
#From string to set
b='110011101001' #Binary String
set(b) #Set of elements

{'0', '1'}

In [142]:
x='My Python'
set(x) #Set of Characters
#In the string,'My Python',the space('')is also a character

{' ', 'M', 'P', 'h', 'n', 'o', 't', 'y'}

In [143]:
#Set Theoretic Operations
s1=set('ana252')
s1

{'2', '5', 'a', 'n'}

In [144]:
s2=set('dad722')
s2

{'2', '7', 'a', 'd'}

In [145]:
#Union (Characters in both s1 and s2)
s1 | s2

{'2', '5', '7', 'a', 'd', 'n'}

In [146]:
#Intersection(Character in both s1 and s2)
s1 & s2

{'2', 'a'}

In [147]:
#Difference
s1-s2 #Character in s1 but not in s2

{'5', 'n'}

In [148]:
s2-s1 #Character in s2 but not in s1

{'7', 'd'}

In [149]:
#Symmetric Difference
s1 ^ s2 #In s1 or s2 but not both

{'5', '7', 'd', 'n'}

In [150]:
#To test one is a subset of other
s1<=s2

False

In [151]:
s1>=s2 # s1 is not a subset of s2

False

In [152]:
u={1,2,5,7,0,9}
v={2,9,0}
u<=v

False

In [153]:
u>=v #v is a subset of u

True

In [154]:
#Joining Two Sets
u={1,2,3}
v={4,5,6}
u |=v #set v added to set u
u
#Set v is added to set u.So set u is now changed but set v remains unchanged

{1, 2, 3, 4, 5, 6}

# Dictionary

In [155]:
""" A dictionary is a unordered set of key: value pairs,separated by commas,placed inside a pair of braces{}.
If we recall a key,it will gives us corresponding value(as it is usually done in real dictionary).Thus we can
 store some values against some keys and later we can extract a value,given a key.So it Works the way of associative memmory
 """

' A dictionary is a unordered set of key: value pairs,separated by commas,placed inside a pair of braces{}.\nIf we recall a key,it will gives us corresponding value(as it is usually done in real dictionary).Thus we can\n store some values against some keys and later we can extract a value,given a key.So it Works the way of associative memmory\n '

In [156]:
D={'a':2,'b':4,'c':6} #D is a dictionary
D

{'a': 2, 'b': 4, 'c': 6}

In [157]:
D['a'] #Recalling the key 'a'

2

In [158]:
D['b']

4

In [159]:
#Keys and Values
D.keys()

dict_keys(['a', 'b', 'c'])

In [160]:
D.values()

dict_values([2, 4, 6])

In [161]:
#Attributes
#Searching
'x' in D

False

In [162]:
'c' in D

True

In [163]:
#Inserting new elements
D['d']=10
D

{'a': 2, 'b': 4, 'c': 6, 'd': 10}

In [164]:
D['e']=12
D

{'a': 2, 'b': 4, 'c': 6, 'd': 10, 'e': 12}

In [165]:
#Deleting Element
del D['a']
D

{'b': 4, 'c': 6, 'd': 10, 'e': 12}

In [166]:
#Sorting
x={'abhi':2,'tapas':1,'anu':3,'shyam':5,'raj':4}
x.keys()

dict_keys(['abhi', 'tapas', 'anu', 'shyam', 'raj'])

In [167]:
sorted(x.keys())

['abhi', 'anu', 'raj', 'shyam', 'tapas']

In [168]:
a=[(1,10),(2,20),(3,30),(4,40)]
dict(a)

{1: 10, 2: 20, 3: 30, 4: 40}

In [169]:
x=[('a',2),('b',4),('c',6)]
dict(x)

{'a': 2, 'b': 4, 'c': 6}

In [170]:
D={i:i+2 for i in range(5)}
D

{0: 2, 1: 3, 2: 4, 3: 5, 4: 6}

In [171]:
N={k:k**2+k for k in (1,2,3,4,5)}
N

{1: 2, 2: 6, 3: 12, 4: 20, 5: 30}

In [172]:
from math import pi, sin
theta=[0,pi/2,pi,3*pi/2,pi]
sine={i:sin(i) for i in theta}
sine

{0: 0.0,
 1.5707963267948966: 1.0,
 3.141592653589793: 1.2246467991473532e-16,
 4.71238898038469: -1.0}

# Logical and Loop Structures,Functions

In [1]:
"""For Loop
If we want to do something repeatedly,we put the instructions inside a loop.In Python,it is a
'for loop'.For execution of a 'for loop',we often make use of a system function: 
range(begin, end, step) or a string,as we will see through examples.The range(n) function generates integers 0 to n-1,in increasing
order.
"""

"For Loop\nIf we want to do something repeatedly,we put the instructions inside a loop.In Python,it is a\n'for loop'.For execution of a 'for loop',we often make use of a system function: \nrange(begin, end, step) or a string,as we will see through examples.The range(n) function generates integers 0 to n-1,in increasing\norder.\n"

In [2]:
"""Structure of 'for loop'
for x in range(begin, end, step):
    statement 1
    statement 2
print xx"""

"Structure of 'for loop'\nfor x in range(begin, end, step):\n    statement 1\n    statement 2\nprint xx"

In [3]:
for n in range(1,4):
    print("Very good")

Very good
Very good
Very good

In [4]:
for x in range(3):
    print(x,"\t",2**x)

0 	 1
1 	 2
2 	 4

In [6]:
#Sum of integers from 1 to 100
sum=0
for n in range(1,101):
    sum=sum+n
print('sum = ',sum)

sum =  5050

In [11]:
x=2
x+=3
x

5

In [12]:
x*=4
x

20

In [13]:
x-=10
x

10

In [14]:
x/=2
x

5.0

In [ ]:
"""While Loop
The 'while loop' is a loop with logical decision making.The loop continues as long as some condition is satisfied."""

In [15]:
#While Loop
"""while CONDITION:
    statement"""

'while CONDITION:\n    statement'

In [16]:
n=1
while n<101:
    print(n)
    n+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [18]:
# Logical If Structure
#if:used for logical decision making,followed by one or more statements.

In [21]:
if x==10:
    print('x is 10')

In [22]:
x=int(input())
if x==10:
    print('x is 10')
else:
    print('x is not 10')

10
x is 10

In [26]:
a=int(input('Enter a: '))
b=int(input('Enter b: '))
c=int(input('Enter c: '))
x=b*b-4*a*c
if x<0:
    print('x is negative')
elif x>0:
    print('x is positive')
else:
    print('x is zero')

Enter a: 4
Enter b: 5
Enter c: 6
x is negative

In [28]:
#Nested if
n=int(input('Enter an integer:'))
if n<0:
    print('negative')
else:
    print('positive')
    if n>10:
        print('More than 10')

Enter an integer:4
positive

In [30]:
for i in [10, 16, 18, 21, 29]:
    if(i%2==1): #If the number is odd
        break #Immediate exit from the loop
    print(i)
print('Done!')

10
16
18
Done!

# Function

In [31]:
"""The idea  of constructing a function block inside a computer program is for  reusability.Once a function is  
defined it can be used over and over again.We  can define a mathematical(or other kinds of) 'function' inside a Python script.
A function block begins with the keyword 'def' followed by the name of the function with parentheses () and colon(:),while
the variables and parameters are indented under it
"""

"The idea  of constructing a function block inside a computer program is for  reusability.Once a function is  \ndefined it can be used over and over again.We  can define a mathematical(or other kinds of) 'function' inside a Python script.\nA function block begins with the keyword 'def' followed by the name of the function with parentheses () and colon(:),while\nthe variables and parameters are indented under it\n"

In [32]:
#Square of a number
def f(x):
    return x*x
f(5)

25

In [37]:
def main():
    x=int(input('Enter x:'))
    def f(x):
        return x*x
    print(f(x))
main()

Enter x6
36

In [38]:
def f(x):
    """This is my defined function."""
    return x**x

In [39]:
def g(x):
    return x**3

In [42]:
#Python lambda function
f=lambda x: x**2
f(2)

4

In [43]:
f(4)

16

In [44]:
add=lambda x, y:x+y
add(2,3)

5

In [45]:
from math import exp
fun=lambda x: x*exp(-x)
fun(1)

0.36787944117144233

# Class

In [47]:
class c:
    pass

In [49]:
class MyClass:
    x=3
    y=x*x
    a='My first class'
MyClass.x

3

In [50]:
MyClass.y

9

In [51]:
MyClass.a

'My first class'

In [52]:
#To create an Object
ob=MyClass()
ob

In [53]:
ob.x

3

In [54]:
ob.y

9

In [55]:
ob.a

'My first class'

In [56]:
class MyClass:
    x=3
    y=x*x
    a='My First Class'
ob=MyClass()

In [60]:
class C:
    "This is my Second Class"
    def f(self):
        print('Hello Python')
C.__doc__
C().f()

Hello Python

In [66]:
"""import math
class Vector:
    def__init__(self, vx,vy,vz):
        self.x=vx
        self.y=vy
        self.z=vz
    def norm(self):
        xx=self.x**2
        yy=self.y**2
        zz=self.z**2
        return math.sqrt( xx + yy + zz)"""

'import math\nclass Vector:\n    def__init__(self, vx,vy,vz):\n        self.x=vx\n        self.y=vy\n        self.z=vz\n    def norm(self):\n        xx=self.x**2\n        yy=self.y**2\n        zz=self.z**2\n        return math.sqrt( xx + yy + zz)'

In [68]:
s='This is my Module'
a=[1,2,3]
def add(x,y):
    return x+y
def sub(x,y):
    return x-y
class snake:
    name='python'
    pass

In [73]:
from math import pi,sin
L=[1,2,3,4]
sin(pi/2)

1.0

In [74]:
func=lambda x: x**2
func(2)

4

In [75]:
dir()

['C',
 'In',
 'L',
 'MyClass',
 'Out',
 '_',
 '_1',
 '_10',
 '_11',
 '_12',
 '_13',
 '_14',
 '_15',
 '_2',
 '_31',
 '_32',
 '_42',
 '_43',
 '_44',
 '_45',
 '_49',
 '_50',
 '_51',
 '_52',
 '_53',
 '_54',
 '_55',
 '_66',
 '_73',
 '_74',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i55',
 '_i56',
 '_i57',
 '_i58',
 '_i59',
 '_i6',
 '_i60',
 '_i61',
 '_i62',
 '_i63',
 '_i64',
 '_i65',
 '_i66',
 '_i67',
 '_i68',
 '_i69',
 '_i7',
 '_i70',
 '_i71',
 '_i72',
 '_i73',
 '_i74',
 '_i75',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'add',
 'b',
 'c',
 'exit',
 'exp',
 'f',
 'fun',
 'func',
 'g',
 'get_ipython',
 'i',
 'main',
 'n',
 'ob',
 'pi',
 'quit',
 's',
 'sin',
 'snake',
 'sub',
 'sum',
 'test',
 'x']

In [77]:
#Volume of Sphere
from math import pi
r=int(input('Radius:'))
vol=4.0/3*pi*r**3
print('Volume of sphere = ',vol)

Radius:5
Volume of sphere =  523.5987755982989

In [6]:
#Area of a Triangle by Heron's Formula
"""For a triangle,if two sides a and b and the angle theta between them are given,
the third side,c=sqrt(a*a+b*b-2a*b*cos(theta)).The area of the triangle,A=sqrt(s*(s-a)*(s-b)*(s-c)),where
s=(a+b+c)/2
"""
from math import pi,sqrt,cos
a=float(input('Enter a:\n'))
b=float(input('Enter b:\n'))
theta=float(input('Enter angle in degree:\n'))
theta=pi*theta/180 #Convert into radian
c=sqrt(a*a + b*b - 2*a*b*cos(theta))
s=(a+b+c)*0.5
area=sqrt(s*(s-a)*(s-b)*(s-c))
print('Area=',area)

Enter a:
4.5
Enter b:
7.8
Enter angle in degree:
45
Area= 12.409724009823911

In [7]:
#To find Max and Min
L=[2,6,9,0,-1]
max,min=L[0],L[0]
for i in L:
    if(i>=max):
        max=i
    if(i<=min):
        min=i
print('Max=',max,'Min=',min)

Max= 9 Min= -1

In [13]:
#Bubble sort(ascending order)
L=[6,2,9,0,1]
n=len(L)
for i in range(n):
    for j in range(0,n-i-1):
        if(L[j]>L[j+1]):
            L[j],L[j+1]=L[j+1],L[j] #Swap
print('Sorted list=',L)

Sorted list= [0, 1, 2, 6, 9]

In [20]:
#Using user input Bubble sort(ascending order)
a=int(input('Enter number of elements:'))
L=list(map(int,input("Enter the number:").strip().split()))
n=len(L)
for i in range(n):
    for j in range(0,n-i-1):
        if(L[j]>L[j+1]):
            L[j],L[j+1]=L[j+1],L[j] #Swap
print('Sorted list=',L)

Enter number of elements:6
Enter the number:7 3 1 0 5 9
Sorted list= [0, 1, 3, 5, 7, 9]

In [32]:
L=[6,2,9,0,1]
sorted(L) #ascending

[0, 1, 2, 6, 9]

In [33]:
sorted(L,reverse=True) #descending

[9, 6, 2, 1, 0]

In [34]:
L

[6, 2, 9, 0, 1]

In [36]:
L.sort()
L

[0, 1, 2, 6, 9]

In [37]:
L.sort(reverse=True)
L

[9, 6, 2, 1, 0]

In [ ]:
# quadratic equation ax^2+bx+c=0 is given by Sreedhar Acharya's formula: x1,x2=(-b+-sqrt(b*b-4*a*c))/2*a

#Root of Quadratic Equation
from math import sqrt
a=float(input('Enter the value of a:\n'))
b=float(input('Enter the value of b\n'))
c=float(input('Enter the value of c:\n'))
arg=b**2-4*a*c
p=sqrt(abs(arg))
q=2*a
if arg>0:
    print('Real roots=',(-b+p)/q,(-b-p)/q)
if (arg==0):
    print('Equal roots=',-b/q,-b/q)
if arg<0:
    print('Complex roots=',complex(-b,p)/q,complex(-b,-p)/q)